<div class="my-4">
  <div class="text-2xl font-bold">
    <%= link @post.title, to: Routes.post_path(@conn, :show, @post) %>
  </div>
  <div class="text-neutral-600 mb-2">
    <%= format_datetime @post.inserted_at %>
  </div>

  <div class="break-words"><%= @post.preview %> <span class="text-neutral-400">. . .</span></div>
</div>
